
body {
width: auto;
color: #000000;
font-family: open-sans, Helvetica, sans-serif;
font-size: 30px;
}
.para2{
color: #625CBB;
}
#para2{
color: #000000;
}
.para3{
color: #270D4A;
}
#para3{
color: #000000;
}
.para4{
color: #4F2E04;
}
#para4{
color: #000000;
}
.para5{
color: #435659;
}
#para5{
color: #000000;
}
.para6{
color: #193322;
}
#para6{
color: #000000;
}
